{{ define "main"}}
<div class="w-full bg-blue-950 text-gray-300">
    <!--Nav Bar-->
    <div class="flex justify-between py-3 px-6">
        <div class="w-1"></div>
        <ol class="flex justify-between list-none items-center">
            <li>
                <a href="/#sobre" class="inline-block p-3 hover:text-cyan-400">
                    <span class="text-cyan-400">01.</span> Sobre
                </a>
            </li>
            <li>
                <a href="/#experiencia" class="inline-block p-3 hover:text-cyan-400">
                    <span class="text-cyan-400">02.</span> Experiencia
                </a>
            </li>
            <li>
                <a href="/#projetos" class="inline-block p-3 hover:text-cyan-400">
                    <span class="text-cyan-400">03.</span> Projetos
                </a>
            </li>
            <li>
                <a href="/#contato" class="inline-block p-3 hover:text-cyan-400">
                    <span class="text-cyan-400">04.</span> Contato
                </a>
            </li>
        </ol>
    </div>
    <!--Fim Nav Bar-->

    <!--Content-->
    <div class="flex flex-col items-center">

        <!--Info-->
        <section class="flex flex-col items-start min-h-screen h-screen max-w-xl mt-10">
            <div class="mb-8 mr-3 font-bold text-base text-cyan-400">
                Oi, meu nome é
            </div>
            <div class="font-bold text-7xl text-gray-400">
                Kleiton Barone
            </div>
            <div class="font-bold text-7xl text-gray-500">
                Desenvolvedor Backend
            </div>
            <div class="font-bold text-base text-gray-500 mb-3">
                Eu sou um engenheiro de software especializado em construir aplicações e serviços.
            </div>
            <div class="w-full text-center">
                ⬇
            </div>
        </section>
        <!--Fim Info-->

        <!--Experience-->
        <section class="flex flex-col items-start min-h-screen h-screen max-w-xl mt-10">
            <div class="mb-8 mr-3 font-bold text-base text-cyan-400">
                01. Onde Eu Trabalhei
            </div>
            <div class="font-bold text-7xl text-gray-400">
                Compasso Uol
            </div>
            <div class="font-bold text-7xl text-gray-500">
                2020 - Presente
            </div>
            <div class="font-bold text-base text-gray-500 mb-3">
                <ul>
                    <li>
                        Desenvolvimento Backend em Microserviços, utilizando Nodejs, em Nestjs, Typescript, Mongodb,
                        Redis,
                        Kafka, Docker;
                    </li>
                    <li>
                        Planejamento de Arquitetura em Microserviços;
                    </li>
                    <li>
                        Desenvolvimento em Lambda AWS em Nodejs;
                    </li>
                    <li>
                        Monitoramento de aplicação em Elastic Stack (Kibana, ElasticSearch) e Dynatrace, criação de
                        dashboards;
                    </li>
                    <li>
                        Testes Unitários e E2E (End to End) em Jest;
                    </li>
                    <li>
                        Controle de Versionamento usando Git e GitFlow;
                    </li>
                    <li>
                        Desenvolvimento em Times Ágeis;
                    </li>
                    <li>
                        Desenvolvimento Front-End com React, JavaScript, jQuery, HTML e CSS;
                    </li>
                </ul>
            </div>
        </section>
        <!--Fim Experience-->
    </div>
    <!--Fim Content-->
</div>

{{ end }}
