{{ define "main"}}
<div class="w-full bg-blue-950 text-gray-400">
    <!--Nav Bar-->
    <div class="flex justify-between py-3 px-6">
        <div class="w-1"></div>
        <ol class="flex justify-between list-none items-center">
            <li>
                <a class="inline-block p-3">01. Sobre</a>
            </li>
            <li>
                <a class="inline-block p-3">02. Experiencia</a>
            </li>
            <li>
                <a class="inline-block p-3">03. Projetos</a>
            </li>
            <li>
                <a class="inline-block p-3">04. Contato</a>
            </li>
        </ol>
    </div>
</div>

{{ end }}
